@charset "utf-8";
@import '../../node_modules/leaflet/dist/leaflet.css';

@import 'bulma/sass/utilities/functions.sass';
@import 'bulma/sass/utilities/initial-variables.sass';
@import "variables";

$secondary: $red;
$secondary-invert: findColorInvert($secondary);
$secondary-light: findLightColor($secondary);
$secondary-dark: findDarkColor($secondary);

$tertiary: $purple;
$tertiary-invert: findColorInvert($secondary);
$tertiary-light: findLightColor($secondary);
$tertiary-dark: findDarkColor($secondary);

$cta: $red;
$cta-invert: findColorInvert($secondary);
$cta-light: findLightColor($secondary);
$cta-dark: findDarkColor($secondary);

$custom-colors: (
    "secondary": ($secondary, $secondary-invert, $secondary-light, $secondary-dark),
    "tertiary": ($tertiary, $tertiary-invert, $tertiary-light, $tertiary-dark),
    "cta": ($cta, $cta-invert, $cta-light, $cta-dark)
);

@import "~bulma/bulma";
@import "overrides";

header {
  margin-bottom: 1.5rem;
}

.columns {
  &:last-child {
    margin-bottom: (-$column-gap)
  }
  &:not(:last-child) {
    margin-bottom: calc(0.5rem - #{$column-gap})
  }
}

.content {
  dt {
    font-weight: bold;
    display: block;
    width: 100%;
    padding: calc($column-gap / 2) 0;
  }
  dd {
    margin-bottom: $column-gap;
  }
}

.message-stack {
  position: fixed;
  bottom: 0;
  right: 0;
  width: min(80vw, 400px);
  max-height: 100vh;
  overflow-y: auto;
  z-index: 999999;
}
.faq details {
  margin-bottom: 1rem;
  summary {
    font-style: italic;
    cursor: pointer;
  }
}