@charset "utf-8";
@import '../../node_modules/leaflet/dist/leaflet.css';

@import "variables";
@import "~bulma/bulma";
@import "overrides";

header {
  margin-bottom: 1.5rem;
}

.columns {
  &:last-child {
    margin-bottom: (-$column-gap)
  }
  &:not(:last-child) {
    margin-bottom: calc(0.5rem - #{$column-gap})
  }
}

.message-stack {
  position: fixed;
  bottom: 0;
  right: 0;
  width: min(80vw, 400px);
  max-height: 100vh;
  overflow-y: auto;
  z-index: 999999;
}
.faq details {
  margin-bottom: 1rem;
  summary {
    font-style: italic;
    cursor: pointer;
  }
}