    <footer class="footer">
      <div class="content has-text-centered">
        <p>Interesting Examples:</p>
        <div class="tags map-locations" style="justify-content: center;">
          <a class="tag" title="Tallest mountain in the world above sea level." href="#latitude/27.984700118612693/longitude/86.923828125">Mount Everest <span class="flag">🇳🇵</span></a>
          <a class="tag" title="Tallest peak in japan, volcano stands out from surroundings" href="#latitude/35.36059999999998/longitude/138.7274">Mount Fuji <span class="flag">🇯🇵</span></a>
          <a class="tag" title="Tallest free standing mountain above sea level in the world." href="#latitude/-3.0674000000000206/longitude/37.35559999999998">Mount Kilimanjaro <span class="flag">🇹🇿</span></a>
          <a class="tag" title="Iconic steep sided canyon." href="#latitude/36.2679/longitude/-112.3535">Grand Canyon <span class="flag">🇺🇸</span></a>
          <a class="tag" title="Volcanic island chain in the pacific." href="#latitude/19.642375742934632/longitude/-155.52693388810962">Hawaii <span class="flag">🇺🇸</span></a>
          <a class="tag" title="Pyroclastic shield volcano that lies at the southeast end of the Tibesti Mountains in the central Sahara" href="#latitude/19.839061158116806/longitude/18.547668455110397">Emi Koussi <span class="flag">🇹🇩</span></a>
          <a class="tag" title="Highly visible meteor crater in the US" href="#latitude/35.02750000000003/longitude/-111.02277777777778/zoom/13/outputzoom/15/width/505/height/505">Meteor Crater <span class="flag">🇺🇸</span></a>
          <a class="tag" title="Highest summit of the Rocky Mountains of North America" href="#latitude/39.11775/longitude/-106.44533333333334">Mount Elbert <span class="flag">🇺🇸</span></a>
          <a class="tag" title="Tallest mountain outside Asia" href="#latitude/-32.65305555555557/longitude/-70.01166666666666">Aconcagua <span class="flag">🇦🇷</span></a>
          <a class="tag" title="Highest active volcano of Eurasia" href="#latitude/56.056111111111136/longitude/160.6441666666667">Klyuchevskaya Sopka <span class="flag">🇷🇺</span></a>
          <a class="tag" title="Mount Doom. The largest active volcano in New Zealand" href="#latitude/-39.28143383316399/longitude/175.56427004572492">Mount Ruapehu <span class="flag">🇳🇿</span></a>
          <a class="tag" title="Huge dam in Lesotho" href="#latitude/-29.20731587292815/longitude/28.482742309570312">Katse Reservoir <span class="flag">🇱🇸</span></a>
          <a class="tag" title="Huge dam in Zambia" href="#latitude/-16.52201165518801/longitude/28.76169204711914">Kariba Dam <span class="flag">🇿🇲</span></a>
          <a class="tag" title="Huge dam in Egypt, one of the world's largest embankment dams." href="#latitude/23.970555555555563/longitude/32.87777777777774">Aswan Dam <span class="flag">🇪🇬</span></a>
        </div>
      </div>
      <div class="content has-text-centered">
        <p>Cities:</p>
        <div class="tags map-locations" style="justify-content: center;">
          <a class="tag" href="#latitude/40.712800000000016/longitude/-74.0059999999999">New York <span class="flag">🇺🇸</span></a>
          <a class="tag" href="#latitude/51.50720000000001/longitude/-0.12760000000002947">London <span class="flag">🇬🇧</span></a>
          <a class="tag" href="#latitude/48.857500000000016/longitude/2.3514000000000124">Paris <span class="flag">🇫🇷</span></a>
          <a class="tag" href="#latitude/22.3193/longitude/114.1694">Hong Kong <span class="flag">🇭🇰</span></a>
          <a class="tag" href="#latitude/35.6764/longitude/139.64999999999998">Tokyo <span class="flag">🇯🇵</span></a>
          <a class="tag" href="#latitude/28.704099999999983/longitude/77.10249999999996">Delhi <span class="flag">🇮🇳</span></a>
          <a class="tag" href="#latitude/-22.89768321064807/longitude/-43.17626953125">Rio de Janeiro <span class="flag">🇧🇷</span></a>
          <a class="tag" href="#latitude/-16.4897/longitude/-68.11930000000001">La Paz <span class="flag">🇧🇴</span></a>
          <a class="tag" href="#latitude/-33.4314413355753/longitude/-70.6640625">Santiago <span class="flag">🇨🇱</span></a>
          <a class="tag" href="#latitude/34.054899999999975/longitude/-118.24259999999998">Los Angeles <span class="flag">🇺🇸</span></a>
          <a class="tag" href="#latitude/38.83389999999997/longitude/-104.82139999999998">Colorado Springs <span class="flag">🇺🇸</span></a>
          <a class="tag" href="#latitude/47.267499999999984/longitude/11.390999999999963">Innsbruck <span class="flag">🇦🇹</span></a>
          <a class="tag" href="#latitude/6.247600000000034/longitude/-75.56579999999997">Medellin <span class="flag">🇨🇴</span></a>
          <a class="tag" href="#latitude/50.4504/longitude/30.52449999999999">Kyiv <span class="flag">🇺🇦</span></a>
          <a class="tag" href="#latitude/-33.96841935168314/longitude/18.42544568760877">Capetown <span class="flag">🇿🇦</span></a>
        </div>
      </div>
      <div class="content has-text-centered">
        <p>We have started hitting usage limits for some maps providers. If you find the exports not working, please <a href="https://ko-fi.com/harrymustoeplayfair">consider donating</a> so that we can upgrade our accounts.
        </p>
        <p><a href='https://ko-fi.com/L4L212G6M7' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a></p>
      </div>
      <div class="content has-text-centered">
        <p>Tip: You can copy and paste a latititude/longitude string anywhere on this page to input it straight into the respective inputs.</p>
        <p>
          <strong>Unreal Engine 16 Bit Grayscale PNG Heightmap Generator</strong>
          &bullet;
          <a href="https://github.com/manticorp/unrealheightmap/issues">
            Report an Issue
          </a>
        </p>
        <p>by <a href="https://github.com/manticorp">Harry Mustoe-Playfair</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
        <p>Heightmap data © <a href="https://www.mapzen.com/rights">Mapzen</a>,  <a href="https://openstreetmap.org/copyright">OpenStreetMap</a>, and <a href="https://www.mapzen.com/rights/#services-and-data-sources">others</a>.</p>
        <p>All other map data is from various sources, see <a href="rights.html">the license page</a> for more information.</p>
      </div>
    </footer>
