    <footer class="footer">
      <div class="content has-text-centered">
        <p>Examples:</p>
        <div class="tags" style="justify-content: center;">
          <a class="tag is-primary" href="#latitude/27.984700118612693/longitude/86.923828125">Mount Everest</a>
          <a class="tag is-secondary" href="#latitude/35.36059999999998/longitude/138.7274">Mount Fuji</a>
          <a class="tag is-info" href="#latitude/-3.0674000000000206/longitude/37.35559999999998">Mount Kilimanjaro</a>
          <a class="tag is-warning" href="#latitude/36.2679/longitude/-112.3535">Grand Canyon</a>
          <a class="tag is-danger" href="#latitude/19.642375742934632/longitude/-155.52693388810962">Hawaii</a>
          <a class="tag is-success" href="#latitude/19.839061158116806/longitude/18.547668455110397">Emi Koussi</a>
          <a class="tag is-primary" href="#latitude/35.02750000000003/longitude/-111.02277777777778/zoom/13/outputzoom/15/width/505/height/505">Meteor Crater</a>
          <a class="tag is-secondary" href="#latitude/39.11775/longitude/-106.44533333333334">Mount Elbert</a>
          <a class="tag is-info" href="#latitude/-32.65305555555557/longitude/-70.01166666666666">Aconcagua</a>
          <a class="tag is-warning" href="#latitude/56.056111111111136/longitude/160.6441666666667">Klyuchevskaya Sopka</a>
          <a class="tag is-danger" href="#latitude/-39.28143383316399/longitude/175.56427004572492">Mount Ruapehu</a>
          <a class="tag is-success" href="#latitude/-29.20731587292815/longitude/28.482742309570312">Katse Reservoir</a>
          <a class="tag is-primary" href="#latitude/-16.52201165518801/longitude/28.76169204711914">Kariba Dam</a>
          <a class="tag is-secondary" href="#latitude/23.970555555555563/longitude/32.87777777777774">Aswan Dam</a>
        </div>
      </div>
      <div class="content has-text-centered">
        <p>Cities:</p>
        <div class="tags" style="justify-content: center;">
          <a class="tag is-primary" href="#latitude/40.712800000000016/longitude/-74.0059999999999">New York</a>
          <a class="tag is-secondary" href="#latitude/51.50720000000001/longitude/-0.12760000000002947">London</a>
          <a class="tag is-info" href="#latitude/48.857500000000016/longitude/2.3514000000000124">Paris</a>
          <a class="tag is-warning" href="#latitude/22.3193/longitude/114.1694">Hong Kong</a>
          <a class="tag is-danger" href="#latitude/35.6764/longitude/139.64999999999998">Tokyo</a>
          <a class="tag is-success" href="#latitude/28.704099999999983/longitude/77.10249999999996">Delhi</a>
          <a class="tag is-primary" href="#latitude/-14.235000000000014/longitude/-51.92529999999999">Brazil</a>
          <a class="tag is-secondary" href="#latitude/-16.4897/longitude/-68.11930000000001">La Paz</a>
          <a class="tag is-info" href="#latitude/-22.906800000000004/longitude/-43.17290000000003">Rio</a>
          <a class="tag is-warning" href="#latitude/34.054899999999975/longitude/-118.24259999999998">Los Angeles</a>
          <a class="tag is-danger" href="#latitude/38.83389999999997/longitude/-104.82139999999998">Colorado Springs</a>
          <a class="tag is-success" href="#latitude/47.267499999999984/longitude/11.390999999999963">Innsbruck</a>
          <a class="tag is-primary" href="#latitude/6.247600000000034/longitude/-75.56579999999997">Medellin</a>
          <a class="tag is-secondary" href="#latitude/50.4504/longitude/30.52449999999999">Kyiv 🇺🇦</a>
          <a class="tag is-success" href="#latitude/-33.96841935168314/longitude/18.42544568760877">Capetown</a>
        </div>
      </div>
      <div class="content has-text-centered">
        <p>We have started hitting usage limits for some maps providers. If you find the exports not working, please <a href="https://ko-fi.com/harrymustoeplayfair">consider donating</a> so that we can upgrade our accounts.
        </p>
        <p><a href='https://ko-fi.com/L4L212G6M7' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a></p>
      </div>
      <div class="content has-text-centered">
        <p>Tip: You can copy and paste a latititude/longitude string anywhere on this page to input it straight into the respective inputs.</p>
        <p>
          <strong>Unreal Engine 16 Bit Grayscale PNG Heightmap Generator</strong>
          &bullet;
          <a href="https://github.com/manticorp/unrealheightmap/issues">
            Report an Issue
          </a>
        </p>
        <p>by <a href="https://github.com/manticorp">Harry Mustoe-Playfair</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
